name: Wokwi CI Test

on:
  push:
  pull_request:
    branches:
      - main
  schedule:
    - cron: '0 12 * * *'
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        test:
          - name: bmp180-esp32c3
            path: board-bmp180/bmp180-esp32c3
            scenario: bmp180.test.yaml
          - name: touch-esp32
            path: board-ili9341-cap-touch/touch-esp32
            scenario: touch.test.yaml
          - name: oled-esp32
            path: board-ssd1306/oled-esp32
            scenario: ssd1306.test.yaml
          - name: joystick-uno
            path: wokwi-analog-joystick/joystick-uno
            scenario: joystick.test.yaml
          - name: dht22-uno
            path: wokwi-dht22/dht22-uno
            scenario: dht22.test.yaml
          - name: dht22-esp32
            path: wokwi-dht22/dht22-esp32
            scenario: dht22.test.yaml
          - name: dht22-pico
            path: wokwi-dht22/dht22-pico
            scenario: dht22.test.yaml
          - name: dht22-stm32
            path: wokwi-dht22/dht22-stm32
            scenario: dht22.test.yaml
          - name: ds18b20-uno
            path: wokwi-ds18b20/ds18b20-uno
            scenario: ds18b20.test.yaml
          - name: ds18b20-esp32
            path: wokwi-ds18b20/ds18b20-esp32
            scenario: ds18b20.test.yaml
          - name: hx711-uno
            path: wokwi-hx711/hx711-uno
            scenario: hx711.test.yaml
          - name: ili9341-uno
            path: wokwi-ili9341/lcd-uno
            scenario: ili9341.test.yaml
          - name: lcd1602-uno
            path: wokwi-lcd1602/lcd-uno
            scenario: lcd1602.test.yaml
          - name: lcd1602-esp32-c3
            path: wokwi-lcd1602/lcd-i2c-esp32-c3
            scenario: lcd1602.test.yaml
          - name: lcd1602-stm32-i2c
            path: wokwi-lcd1602/lcd-i2c-stm32
            scenario: lcd1602.test.yaml
          - name: led-matrix-uno
            path: wokwi-led-matrix/matrix-uno
            scenario: led-matrix.test.yaml
          - name: led-ring-uno
            path: wokwi-led-ring/neopixel-uno
            scenario: neopixel.test.yaml
          - name: led-strip-uno
            path: wokwi-led-strip/strip-uno
            scenario: led-strip.test.yaml
          - name: neopixel-uno
            path: wokwi-neopixel/neopixel-uno
            scenario: neopixel.test.yaml
          - name: max7219-uno
            path: wokwi-max7219-matrix/max7219-uno
            scenario: max7219.test.yaml
          - name: microsd-card-esp32
            path: wokwi-microsd-card/sd-esp32
            scenario: sd.test.yaml
          - name: mpu6050-uno
            path: wokwi-mpu6050/mpu6050-uno
            scenario: mpu6050.test.yaml
          - name: photoresistor-uno
            path: wokwi-photoresistor-sensor/photoresistor-uno
            scenario: photoresistor.test.yaml
          - name: slide-potentiometer-uno
            path: wokwi-slide-potentiometer/pot-uno
            scenario: slide-potentiometer.test.yaml
          - name: slide-potentiometer-esp32
            path: wokwi-slide-potentiometer/pot-esp32
            scenario: slide-potentiometer.test.yaml
          - name: tm1637-uno
            path: wokwi-tm1637-7segment/tm1637-uno
            scenario: tm1637.test.yaml
    steps:
      - uses: actions/checkout@v4

      - name: Cache pip
        uses: actions/cache@v4
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Cache PlatformIO
        uses: actions/cache@v4
        with:
          path: |
            ~/.platformio
          key: ${{ runner.os }}-platformio-${{ hashFiles('**/platformio.ini') }}
          restore-keys: |
            ${{ runner.os }}-platformio-

      - name: Install PlatformIO
        run: |
          python -m pip install --upgrade pip
          pip install platformio

      - name: Build with PlatformIO
        working-directory: ${{ matrix.test.path }}
        run: pio run

      - name: Run Wokwi CI Server
        uses: wokwi/wokwi-ci-server-action@v1

      - name: Test with Wokwi
        uses: wokwi/wokwi-ci-action@v1
        with:
          token: ${{ secrets.WOKWI_CLI_TOKEN }}
          path: ${{ matrix.test.path }}
          timeout: 10000
          scenario: ${{ matrix.test.scenario }}
          serial_log_file: serial-${{ matrix.test.name }}.log
